<!DOCTYPE html>
<html lang="en">
<head>

    <title>Food Charity</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>

     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
             <span class="navbar-brand mb-0 h1">Food Charity</span>
          </div>
     </nav>

           <br><br>
     <div class="container">
          <form method= "POST">
             {% csrf_token %}

             

             <fieldset class="form-group">  
                  <legend class="border-bottom mb-4">Login</legend>
                  {{form}}


             </fieldset>

             <div class="form-group">
             <br>
             <button class= "btn btn-dark" type="submit">Login</button>
             </div>
             <br>
             <a href ="{% url 'register' %}"><p>Create a new account</p></a>      

          </form>
          {%if messages%}
        {%for message in messages%}
             {{message}}
             {%endfor%}
        {%endif%}
     </div>
</html>