
<!DOCTYPE html>
<html lang="en">
<head>

    <title>FoodCharity</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
             <span class="navbar-brand mb-0 h1">Food Charity</span>
          </div>
     </nav>

           
           <br><br>
     <div class="container">
          <h4>You are successfully logged out.</h4>
          <a href="{% url 'login' %}"><p>Click here to login</p></a>
          {%if messages%}
        {%for message in messages%}
             {{message}}
             {%endfor%}
        {%endif%}
     </div>
</html>