
<!DOCTYPE html>
<html lang="en">
<head>

    <title>FoodCharity</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>
<div class="content is-large">
   <h1>Register</h1>
   </div>
    <div class="navbar-start">
      <a href="{% url 'donor_register' %}" class="navbar-item">
        As Donor
      </a>
      <br>

      <a href="{% url 'ngo_register' %}" class="navbar-item">
        As NGO User
      </a>
    </div>
    

</body>
</html>