{% extends 'base.html'%}

{% block content%}

<div class="container">
    <form method="POST">
       {% csrf_token %}

       <fieldset class="form-group">  
            <legend class="border-bottom mb-4">Confirm Delete</legend>
            


       </fieldset>

       <div class="form-group">
       <button class= "btn btn-outline-dark" type="submit">Delete Post</button>
       <a href="{% url 'home'  %}"><button class="btn btn-outline-green">Cancel</button></a>
       </div>
          

    </form>
</div>

{% endblock content  %}


